@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
  font-family: Music;
  src: url(../../public/fonts/Ldmusic_.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.home {
  background: linear-gradient(to bottom, #b8cad7, #dbd8d3);
}

@layer components {
  .text-dir-tb {
    writing-mode: vertical-rl;
    text-orientation: sideways;
  }

  .text-dir-lr {
    writing-mode: horizontal-tb;
  }
}

/* .song-container::before {
  content: '';
  width: 100%;
  height: 20%;
  position: absolute;
  top: 0;
  mask: linear-gradient(to top, transparent, black);
  -webkit-mask: linear-gradient(to top, transparent, black);
  backdrop-filter: blur(20px);
  z-index: 100;
}

.song-container::after {
  content: '';
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: 0;
  mask: linear-gradient(to bottom, transparent, black);
  -webkit-mask: linear-gradient(to bottom, transparent, black);
  backdrop-filter: blur(20px);
  z-index: 100;
} */



::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #707070;
  border-radius: 25px;
}